.facebook-auth {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);


}

.facebook-auth__container {
    width: 400px;
    background: #f0f2f5;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);

}

@media (max-width: 440px) {
    .facebook-auth__container {
        width: auto;
        margin: 10px!important;
        padding-inline: 10px;
    }
}

.facebook-auth__title {
    margin-right: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;

}

.facebook-auth__subtitle {
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
    color: #333;
    margin-bottom: 20px;
}

.facebook-auth__button {
    background-color: #3b5998;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}